<h1 style="text-align: center; padding-bottom: 30px;">Menu Items</h1>


<div class="menu-items">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
    <div class="item1"><img [src]="dosa"></div>
    </div>
    <div class="flip-card-back">
        <h1>DOSA</h1> 
        <h3>Cost : 50/-</h3> 
      </div>
      </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
    <div class="item1"><img [src]="idli"></div>
    </div>
    <div class="flip-card-back">
        <h1>IDLI</h1> 
        <h3>Cost : 40/-</h3> 
      </div>
      </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
    <div class="item1"><img [src]="vada"></div>
    </div>
    <div class="flip-card-back">
        <h1>VADA</h1> 
        <h3>Cost : 40/-</h3> 
      </div>
      </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
    <div class="item1"><img [src]="upma"></div>
    </div>
    <div class="flip-card-back">
        <h1>UPMA</h1> 
        <h3>Cost : 50/-</h3> 
      </div>
      </div>
      </div>
</div>




<div class="menu-items">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
    <div class="item1"><img [src]="poori"></div>
    </div>
    <div class="flip-card-back">
        <h1>POORI</h1> 
        <h3>Cost : 40/-</h3> 
      </div>
      </div>
      </div>
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
    <div class="item1"><img [src]="bonda"></div>
    </div>
    <div class="flip-card-back">
        <h1>BONDA</h1> 
        <h3>Cost : 40/-</h3> 
      </div>
      </div>
      </div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
    <div class="item1"><img [src]="pongal"></div>
    </div>
    <div class="flip-card-back">
        <h1>PONGAL</h1> 
        <h3>Cost : 50/-</h3> 
      </div>
      </div>
      </div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
    <div class="item1"><img [src]="chapati"></div>
</div>
<div class="flip-card-back">
    <h1>CHAPATI</h1> 
    <h3>Cost : 50/-</h3> 
  </div>
  </div>
  </div>
</div>




<div class="menu-items">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
    <div class="item1"><img [src]="sambaridli"></div>
    </div>
    <div class="flip-card-back">
        <h1>SAMBAR IDLI</h1> 
        <h3>Cost : 40/-</h3> 
      </div>
      </div>
      </div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
    <div class="item1"><img [src]="venpongal"></div>
    </div>
    <div class="flip-card-back">
        <h1>VEN PONGAL</h1>
        <p>KATTE PONGALI</p> 
        <h3>Cost : 70/-</h3> 
      </div>
      </div>
      </div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
    <div class="item1"><img [src]="kesaribath"></div>
    </div>
    <div class="flip-card-back">
        <h1>KESARI BATH</h1> 
        <h3>Cost : 60/-</h3> 
      </div>
      </div>
      </div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
    <div class="item1"><img [src]="tigrice"></div>
</div>
<div class="flip-card-back">
    <h1>TIGER RICE</h1> 
    <p>PULIHORA</p>
    <h3>Cost : 40/-</h3> 
  </div>
  </div>
  </div>
</div>




<div class="menu-items">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
    <div class="item1"><img [src]="rajma"></div>
    </div>
    <div class="flip-card-back">
        <h1>RAJMA CHALWA</h1> 
        <h3>Cost : 70/-</h3> 
      </div>
      </div>
      </div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
    <div class="item1"><img [src]="vegbiryani"></div>
    </div>
    <div class="flip-card-back">
        <h1>VEG BIRYANI</h1> 
        <h3>Cost : 100/-</h3> 
      </div>
      </div>
      </div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
    <div class="item1"><img [src]="vegmeal"></div>
    </div>
    <div class="flip-card-back">
        <h1>VEG MEAL</h1>
        <p>FULL MEALS</p> 
        <h3>Cost : 100/-</h3> 
      </div>
      </div>
      </div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
    <div class="item1"><img [src]="chibir"></div>
</div>
<div class="flip-card-back">
    <h1>CHICKEN BIRYANI</h1> 
    <h3>Cost : 230/-</h3> 
  </div>
  </div>
  </div>
  </div>




<div class="menu-items">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
    <div class="item1"><img [src]="chicur"></div>
    </div>
    <div class="flip-card-back">
        <h1>CHICKEN CURRY</h1> 
        <h3>Cost : 200/-</h3> 
      </div>
      </div>
      </div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
    <div class="item1"><img [src]="chifry"></div>
    </div>
    <div class="flip-card-back">
        <h1>CHICKEN FRY</h1> 
        <h3>Cost : 170/-</h3> 
      </div>
      </div>
      </div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
    <div class="item1"><img [src]="chicken65"></div>
    </div>
    <div class="flip-card-back">
        <h1>CHICKEN65</h1> 
        <h3>Cost : 230/-</h3> 
      </div>
      </div>
      </div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
    <div class="item1"><img [src]="chickenkabab"></div>
</div>
<div class="flip-card-back">
    <h1>CHICKEN KABAB</h1> 
    <h3>Cost : 200/-</h3> 
  </div>
  </div>
  </div>
</div>




<div class="menu-items">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
    <div class="item1"><img [src]="countrychi"></div>
    </div>
    <div class="flip-card-back">
        <h1>COUNTRY CHICKEN</h1>
        <p>NATUKODI PULUSU</p> 
        <h3>Cost : 300/-</h3> 
      </div>
      </div>
      </div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
    <div class="item1"><img [src]="mutbir"></div>
    </div>
    <div class="flip-card-back">
        <h1>MUTTON BIRYANI</h1> 
        <h3>Cost : 350/-</h3> 
      </div>
      </div>
      </div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
    <div class="item1"><img [src]="mutcur"></div>
    </div>
    <div class="flip-card-back">
        <h1>MUTTON CURRY</h1> 
        <h3>Cost : 280/-</h3> 
      </div>
      </div>
      </div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
    <div class="item1"><img [src]="mutfry"></div>
</div>
<div class="flip-card-back">
    <h1>MUTTON FRY</h1> 
    <h3>Cost : 250/-</h3> 
  </div>
  </div>
  </div>
</div>




<div class="menu-items">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
    <div class="item1"><img [src]="fishcur"></div>
    </div>
    <div class="flip-card-back">
        <h1>FISH CURRRY</h1> 
        <h3>Cost : 250/-</h3> 
      </div>
      </div>
      </div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
    <div class="item1"><img [src]="fishfry"></div>
    </div>
    <div class="flip-card-back">
        <h1>FISH FRY</h1> 
        <h3>Cost : 260/-</h3> 
      </div>
      </div>
      </div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
    <div class="item1"><img [src]="prawncurry"></div>
    </div>
    <div class="flip-card-back">
        <h1>PRAWN CURRY</h1> 
        <h3>Cost : 270/-</h3> 
      </div>
      </div>
      </div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
    <div class="item1"><img [src]="prawnfry"></div>
</div>
<div class="flip-card-back">
    <h1>PRAWN FRY</h1> 
    <h3>Cost : 250/-</h3> 
  </div>
  </div>
  </div>
</div>




<div class="menu-items">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
    <div class="item1"><img [src]="curdrice"></div>
    </div>
    <div class="flip-card-back">
        <h1>CURD RICE</h1> 
        <h3>Cost : 80/-</h3> 
      </div>
      </div>
      </div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
    <div class="item1"><img [src]="lassi"></div>
    </div>
    <div class="flip-card-back">
        <h1>LASSI</h1> 
        <h3>Cost : 50/-</h3> 
      </div>
      </div>
      </div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
    <div class="item1"><img [src]="buttermilk"></div>
    </div>
    <div class="flip-card-back">
        <h1>BUTTERMILK</h1> 
        <h3>Cost : 30/-</h3> 
      </div>
      </div>
      </div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
    <div class="item1"><img [src]="decadent"></div>
</div>
<div class="flip-card-back">
    <h1>DECADENT</h1> 
    <h3>Cost : 200/-</h3> 
  </div>
  </div>
  </div>
</div>




<div class="menu-items">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
    <div class="item1"><img [src]="delightful"></div>
    </div>
    <div class="flip-card-back">
        <h1>DELIGHTFUL</h1> 
        <h3>Cost : 150/-</h3> 
      </div>
      </div>
      </div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
    <div class="item1"><img [src]="redvelvet"></div>
    </div>
    <div class="flip-card-back">
        <h1>RED VELVET</h1> 
        <h3>Cost : 250/-</h3> 
      </div>
      </div>
      </div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
    <div class="item1"><img [src]="frozen"></div>
    </div>
    <div class="flip-card-back">
        <h1>FROZEN BROWNIE</h1> 
        <h3>Cost : 250/-</h3> 
      </div>
      </div>
      </div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
    <div class="item1"><img [src]="darkforest"></div>
</div>
<div class="flip-card-back">
    <h1>DARK FOREST</h1> 
    <h3>Cost : 130/-</h3> 
  </div>
  </div>
  </div>
</div>




<div class="menu-items">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
    <div class="item1"><img [src]="blackcurrant"></div>
    </div>
    <div class="flip-card-back">
        <h1>BLACK CURRANT</h1> 
        <h3>Cost : 150/-</h3> 
      </div>
      </div>
      </div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
    <div class="item1"><img [src]="chocolate"></div>
    </div>
    <div class="flip-card-back">
        <h1>CHOCOLATE</h1> 
        <h3>Cost : 100/-</h3> 
      </div>
      </div>
      </div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
    <div class="item1"><img [src]="strawberry"></div>
    </div>
    <div class="flip-card-back">
        <h1>STRAWBERRY</h1> 
        <h3>Cost : 110/-</h3> 
      </div>
      </div>
      </div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
    <div class="item1"><img [src]="almondmilk"></div>
</div>
<div class="flip-card-back">
    <h1>ALMOND MILK</h1> 
    <h3>Cost : 70/-</h3> 
  </div>
  </div>
  </div>
</div>




<div class="menu-items">
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
    <div class="item1"><img [src]="orangejuice"></div>
    </div>
    <div class="flip-card-back">
        <h1>ORANGE JUICE</h1> 
        <h3>Cost : 60/-</h3> 
      </div>
      </div>
      </div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
    <div class="item1"><img [src]="grapejuice"></div>
    </div>
    <div class="flip-card-back">
        <h1>GRAPE JUICE</h1> 
        <h3>Cost : 70/-</h3> 
      </div>
      </div>
      </div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
    <div class="item1"><img [src]="mangojuice"></div>
    </div>
    <div class="flip-card-back">
        <h1>MANGO JUICE</h1> 
        <h3>Cost : 80/-</h3> 
      </div>
      </div>
      </div>
    <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
    <div class="item1"><img [src]="sweetpaan"></div>
</div>
<div class="flip-card-back">
    <h1>SWEET PAAN</h1> 
    <h3>Cost : 30/-</h3> 
  </div>
  </div>
  </div>
</div>